.WorkDetails-image {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .WorkDetails-image {
    position: initial !important;
  }
  .WorkDetails-container {
    padding: 0;
  }
}

.WorkDetails-image:hover {
  cursor: all-scroll;
}

.image-wrap {
  position: absolute;
  grid-row: 2/3;
}
