.Information-container {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: repeating-radial-gradient(
    rgb(255, 255, 255, 0.1),
    rgb(240, 240, 240, 0.1),
    rgb(16, 16, 16, 0.1)
  );
}
.Information-text {
  text-transform: lowercase;
  margin: 0;
  padding: 35px;
}
.Information-text-two {
  text-align: right;
}
.Information-text:hover {
  cursor: pointer;
}
