@font-face {
  font-family: "Helvetica Neue Bd";
  src: url("./Helvetica_Neue/HelveticaNeueLTStd-Bd.otf");
}
@font-face {
  font-family: "Helvetica Neue BdIt";
  src: url("./Helvetica_Neue/HelveticaNeueLTStd-BdIt.otf");
}
* {
  font-family: "Helvetica Neue Bd";
  font-weight: normal;
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  margin: 0;
}

::selection {
  background: white; /* WebKit/Blink Browsers */
  color: rgba(255, 255, 0, 0.719);
}
