.Footer-container {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100px;
}
.Footer-text {
  text-transform: lowercase;
  margin: 0;
  padding: 35px;
}
.Footer-text-two {
  text-align: right;
}
.Footer-text:hover {
  cursor: pointer;
}
